@import '../variables.css';

.settings-container {
    height: 100%;
    text-align: center;
}

.settings {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings h1 {
    font-size: xx-large;
}

.settings button {
    width: 10vw;
    min-width: 100px;
    height: 8vh;
    font-size: larger;
}